
@{
    Layout = "~/Views/Shared/RollDraftingHeaderFooter.cshtml";
}

@model List<CM45Entity>




<style>


    .custom-alert {
        background-color: #4CAF50;
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .show {
        opacity: 1;
        transform: translateY(0);
    }

    @@keyframes slideIn {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @@keyframes slideOut {
        from {
            transform: translateY(0);
            opacity: 1;
        }

        to {
            transform: translateY(-20px);
            opacity: 0;
        }
    }
</style>





<!-- <h2 style="margin-top: 20px;color:#145566; font-weight: bold; margin-left: 20px;">BAG TO BAG FLEXO PRINTING PROGRAMME AND PRODUCTION  REPORT</h2> -->
<h5 class="panel-title" style="color:#FFFFFF; background-color:#009991; width:100%; font-size:14px;  padding: 6px;" align="center"> &nbsp; 45 CM </h5>

<div class="col-md-3" style="margin-top:15px;">
    @if (TempData["CM45"] != null)
    {
        <div class="custom-alert" id="customAlert">
            Data Added Successfully..!
        </div>
    }
</div>

<div class="row">

    <div class="col-md-12" style="margin-top: 2vh;">

        <form action="/RollDrafting/InsertCM45" method="post">

            <div class="col-md-2" style="margin-top: 5px;">
                <label class="control-label">Date<font color="#FF0000">*</font></label>
                <input type="Date" class="form-control" name="Date" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">Roll Number<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="RollNumber" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">Size<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="Size" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">Width In MM<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="WidthInMM" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">Loom Number<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="LoomNumber" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">MTRS<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="MTRS" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">G Weight<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="GWeight" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">C Weight<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="CWeight" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">N Weight<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="NWeight" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 5px;">
                <label class="control-label">Average<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="Average" placeholder="" />
            </div>


            <div class="col-md-2" style="margin-top: 15px;">
                <label class="control-label">Date<font color="#FF0000">*</font></label>
                <input type="date" class="form-control" name="Date2" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 15px;">
                <label class="control-label">Sales<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="Sales" placeholder="" />
            </div>

            <div class="col-md-2" style="margin-top: 15px;">
                <label class="control-label">Issue Of Lamination<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="IssueOfLamination" placeholder="" />
            </div>

            <div class="col-md-1" style="margin-top: 37px; text-align: center;">
                <h5>Issue For BCS </h5>
            </div>

            <div class="col-md-1" style="margin-top: 15px;">
                <label class="control-label">MTRS<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="IssueMTRS" placeholder="" />
            </div>


            <div class="col-md-1" style="margin-top: 15px;">
                <label class="control-label">Net Weight<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="IssueNetWeight" placeholder="" />
            </div>



            <div class="col-md-1" style="margin-top: 37px; text-align: center;">
                <h5>Total </h5>
            </div>


            <div class="col-md-1" style="margin-top: 15px;">
                <label class="control-label"><font color="#FF0000"></font></label>
                <input type="text" class="form-control" name="total1" placeholder="" />
            </div>


            <div class="col-md-1" style="margin-top: 15px;">
                <label class="control-label"><font color="#FF0000"></font></label>
                <input type="text" class="form-control" name="total2" placeholder="" />
            </div>


            <div class="col-md-3" style="margin-top: 37px; text-align: center;">
            </div>


            <div class="col-md-1" style="margin-top: 7px; text-align: center;">
                <h5>Balance Weight</h5>
            </div>

            <div class="col-md-1" style="margin-top: -10px;">
                <label class="control-label">MTRS<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="BalanceMTRS" placeholder="" />
            </div>



            <div class="col-md-1" style="margin-top: -10px;">
                <label class="control-label">Net Weight<font color="#FF0000">*</font></label>
                <input type="text" class="form-control" name="BalanceNetWeight" placeholder="" />
            </div>

            <div class="col-md-1" style="font-weight: bold; margin-top: -10px;">
                <button id="on" type="submit" class="btn mjks"
                        style="color:#FFFFFF;height:30px;margin-top: 17px;width: 99px;">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>SUBMIT
                </button>
            </div>



        </form>


    </div>

</div>



<hr style="border: 1px solid #000000bf;
            opacity: 0.2;">


<div class="row">

    <div class="col-md-12" style="margin-top:15px;">


        <div class="panel-body" style="margin-top:5px; margin-bottom:15px;">
            <div style="overflow-x: auto;">

                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Roll Number</th>
                            <th>Size</th>
                            <th>Width In MM</th>
                            <th>Loom Number</th>
                            <th>MTRS</th>
                            <th>G Weight</th>
                            <th>C Weight</th>
                            <th>Net Weight</th>
                            <th>Average</th>
                            <th>Date2</th>
                            <th>Issue Of Lammination</th>
                            <th>Issue For BCS MTRS</th>
                            <th>Issue For Net Weight</th>
                            <th>Balance Weight MTRS</th>
                            <th>Balance Weight Net Weight</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var counter = 1;
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.RollNumber</td>
                                <td>@item.Size</td>
                                <td>@item.WidthInMM</td>
                                <td>@item.LoomNumber</td>
                                <td>@item.MTRS</td>
                                <td>@item.GWeight</td>
                                <td>@item.CWeight</td>
                                <td>@item.NWeight</td>
                                <td>@item.Average</td>

                                <td>@item.Date2.ToShortDateString()</td>
                                <td>@item.IssueOfLamination</td>
                                <td>@item.IssueMTRS</td>
                                <td>@item.IssueNetWeight</td>
                                <td>@item.BalanceMTRS</td>
                                <td>@item.BalanceNetWeight</td>
                                <td style="width: 7%">
                                    <button style="background-color:#3399ff; border:none; max-height:25px; margin-top:-5px; margin-bottom:-5px;" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit" style="margin-left:5px;"></i></button>
                                    <button style="background-color:#ff0000; border:none; max-height:25px; margin-top:-5px; margin-bottom:-5px;" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o" style="margin-left:5px;"></i></button>
                                </td>
                            </tr>

                            counter++;
                        }
                    </tbody>
                </table>


            </div>
        </div>



    </div>

</div>































<script>
    // Trigger animation on page load
    window.onload = function () {
        var alertElement = document.getElementById('customAlert');
        alertElement.classList.add('show');

        // Hide the alert after a delay
        setTimeout(function () {
            alertElement.classList.remove('show');
        }, 3000); // Adjust the delay (in milliseconds) as needed
    };
</script>

